{erl_opts, [
	debug_info,
	{i, "./_build/default/plugins/gpb/include"}
	]}.

{deps, [
        {erlapp3, 
         {git, "https://github.com/phani35/erlapp3-if.git", 
          {branch, "main"}}},
        {erlapp2, 
         {git, "https://github.com/phani35/erlapp2.git", 
          {branch, "main"}}}
       ]}.

{relx, [
        {release, {erlapp1, "0.1.0"}, [erlapp1]},
        {mode, dev}
       ]

{plugins, [
  {rebar3_gpb_plugin, "1.10.0"} % Good practice to specify which version to use
]}.
